In [13]:
#!pip install mysql-connector-python

In [7]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [24]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: {err}")
    return connection

p = "822181015696636"
db = "mysql_python"
connection = create_server_connection("localhost", "root", p)

MySQL Database connection successful

In [25]:
def create_database(connection, query):
    cursor  = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: {err}")

create_databse_query = "Create database mysql_python"
create_database(connection, create_databse_query)

Database created successfully

In [26]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: {err}")
    return connection

In [27]:
def execute_query(connection, query):
    cursor  = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: {err}")

In [28]:
create_orders_table = """
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
data_ordered date,
quantity int,
unit_price float,
phone_number varchar(20)
);
"""

connection = create_db_connection("localhost", "root", p, db)

MySQL Database connection successful

In [29]:
execute_query(connection, create_orders_table)

Query was successful

In [31]:
data_orders = """
insert into orders values
(101, "Steve", "Laptop", "2018-06-12",2, 800, "60498798576349875"),
(102, "Seve", "Laptop", "2018-06-12",2, 600, "604987875"),
(103, "Eve", "Laptop", "2018-06-12",2, 700, "60498576349875");
"""
connection = create_db_connection("localhost", "root", p, db)
execute_query(connection, data_orders)

MySQL Database connection successful
Query was successful

In [33]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: {err}")

In [36]:
q1 = """
select * from orders;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q1)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '60498798576349875')
(102, 'Seve', 'Laptop', datetime.date(2018, 6, 12), 2, 600.0, '604987875')
(103, 'Eve', 'Laptop', datetime.date(2018, 6, 12), 2, 700.0, '60498576349875')

In [37]:
q2 = """
select customer_name, phone_number from orders;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL Database connection successful
('Steve', '60498798576349875')
('Seve', '604987875')
('Eve', '60498576349875')

In [39]:
q3 = """
select year(data_ordered) from orders;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q3)
for result in results:
    print(result)

MySQL Database connection successful
(2018,)
(2018,)
(2018,)

In [40]:
q4 = """
select distinct year(data_ordered) from orders;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q4)
for result in results:
    print(result)

MySQL Database connection successful
(2018,)

In [41]:
q5 = """
select * from orders where data_ordered < "2018-12-31"
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q5)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '60498798576349875')
(102, 'Seve', 'Laptop', datetime.date(2018, 6, 12), 2, 600.0, '604987875')
(103, 'Eve', 'Laptop', datetime.date(2018, 6, 12), 2, 700.0, '60498576349875')

In [44]:
q6 = """
select * from orders order by unit_price desc;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q6)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '60498798576349875')
(103, 'Eve', 'Laptop', datetime.date(2018, 6, 12), 2, 700.0, '60498576349875')
(102, 'Seve', 'Laptop', datetime.date(2018, 6, 12), 2, 600.0, '604987875')

In [49]:
from_db = []
for result in results:
    result = list(result)
    from_db.append(result)

columns = ["order_id", 
           "customer_name",
           "product_name",
           "date_orderd",
           "quantity",
           "unit_price",
           "phone_number"
          ]
df = pd.DataFrame(from_db, columns = columns)
display(df)
print(from_db)

,order_id,customer_name,product_name,date_orderd,quantity,unit_price,phone_number
0,101,Steve,Laptop,2018-06-12,2,800.0,60498798576349875
1,103,Eve,Laptop,2018-06-12,2,700.0,60498576349875
2,102,Seve,Laptop,2018-06-12,2,600.0,604987875

[[101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '60498798576349875'], [103, 'Eve', 'Laptop', datetime.date(2018, 6, 12), 2, 700.0, '60498576349875'], [102, 'Seve', 'Laptop', datetime.date(2018, 6, 12), 2, 600.0, '604987875']]

In [52]:
update = """
update orders
set unit_price = 45
where order_id = 103
"""

connection = create_db_connection("localhost", "root", p, db)
execute_query(connection, update)

MySQL Database connection successful
Query was successful

In [55]:
q7 = """
select * from orders where order_id = 103;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q7)
for result in results:
    print(result)

MySQL Database connection successful
(103, 'Eve', 'Laptop', datetime.date(2018, 6, 12), 2, 45.0, '60498576349875')

In [59]:
delete_order = """
delete from orders
where order_id =102;
"""
connection = create_db_connection("localhost", "root", p, db)
execute_query(connection, delete_order)

MySQL Database connection successful
Query was successful

In [60]:
q8 = """
select * from orders;
"""
connection = create_db_connection("localhost", "root", p, db)
results = read_query(connection, q8)
for result in results:
    print(result)

MySQL Database connection successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '60498798576349875')
(103, 'Eve', 'Laptop', datetime.date(2018, 6, 12), 2, 45.0, '60498576349875')